@{
    ViewData["Title"] = "Add/Edit Task";
}

<h1 class="display-4 text-center">Add / Edit</h1>

@*this next part will throw an error unless the models are finished so it is commented out for now. uncomment below when models are done*@

@*<div class="text-center">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />
        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />
        <label asp-for="Quadrant">Quadrant:</label>
        <input asp-for="Quadrant" /><br />
        <label asp-for="Category">Category:</label>
        <select asp-for="Category">
<option value="">Select a Category</option>
    <option value="Home">Home</option>
    <option value="School">School</option>
    <option value="Work">Work</option>
    <option value="Church">Church</option>
</select><br />
<label asp-for="Completed">Completed?:</label>
<select asp-for="Completed">
<option value="">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Add</button>
    </form>
</div>*@

