@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Mission08</h1><br />
    <p>
        Click <a asp-controller="Home" asp-action="Quadrant">here</a> to view quadrant<br />
        or<br />
        Click <a asp-controller="Home" asp-action="AddEditTask">here</a> to a add task<br />
    </p>
</div>
