@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quadrant View";
}

<h1>Quadrant View</h1>
<br />
<br />
<div class="row">
    <div class="col-sm-12" style="border: 1px solid black">
        <h2 class="text-center">Stephen Covey's Time Management Matrix</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        &nbsp;
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <h4 class="text-center">Urgent</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <h4 class="text-center">Not Urgent</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        <h4 class="text-center">Important</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <p>&nbsp;</p>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <p>&nbsp;</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="border: 1px solid black">
        <h4 class="text-center">Not Important</h4>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <p>&nbsp;</p>
    </div>
    <div class="col-5 col-sm-5" style="border: 1px solid black">
        <p>&nbsp;</p>
    </div>
</div>

